@this.HtmlContent

<MermaidRender Selector="pre.mermaid" />

@code {

    string Markup = @"
<h3>Render Only Diagrams</h3>

<h4>Flowchart</h4>
<pre class=""mermaid"">
flowchart TB
    c1-->a2
    subgraph one
    a1-->a2
    end
    subgraph two
    b1-->b2
    end
    subgraph three
    c1-->c2
    end
    one --> two
    three --> two
    two --> c2
</pre>

<h4>Sequence Diagram</h4>
<pre class=""mermaid"">
sequenceDiagram
    autonumber
    Alice->>John: Hello John, how are you?
    loop Healthcheck
        John->>John: Fight against hypochondria
    end
    Note right of John: Rational thoughts!
    John-->>Alice: Great!
    John->>Bob: How about you?
    Bob-->>John: Jolly good!
</pre>

<h4>Pie Chart</h4>
<pre class=""mermaid"">
pie title Petz adopted by volunteers
""Dogs"": 386
""Cats"": 85
""Rats"": 15
</pre>

";


    private MarkupString? HtmlContent { get; set; }

    protected override void OnParametersSet()
    {
        this.HtmlContent = new MarkupString(this.Markup);
    }
}