[<a href="/">Home</a>]
| [<a href="/edit">Edit Diagram</a>]
| [<a href="/multi">Multiple Diagrams</a>]
| [<a href="/render-only">Render Only</a>]
| [<a href="/single-render-only">Single Render Only</a>]
| [<a href="/dynamic-content">Dynamic Content</a>]
